@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;400;600;700&family=Open+Sans:wght@400;600&display=swap');
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:  0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none; 
}

html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Nunito', sans-serif;
	text-align: center;
	position: relative;
	font-size: 18px;
}


/* Header Styles starts */


.background{
	background: url(../gallery/bg/background2.png) no-repeat;
	background-size: cover;	
	background-attachment: fixed;
	width: 100%;
}

.wrapper{
	width: 1140px;
	margin: 0 auto;
	padding: 58px 15px  1px;
	position: relative;
}

.header{
	display: flex;
	height: 110px;
	justify-content: space-between;
}

.header img{
	width: 152px;
	height: 43px;
}

.menu_item a{
	color: white;
	text-decoration: none;
	font-size: 18px;
	font-weight: 600;
}

.menu_item a:hover{
	padding-bottom: 11px;
	border-bottom: 2px solid white;
}

.menu_item{
	padding-left: 37px;
}

.menu_list{
	display: flex;
	padding-top: 16px;
}

.intro{
	color: white;
	font-size: 48px;
	font-weight: 600;
	text-align: center;
}

.content h2{
	color: white;
	font-size: 40px;
	font-weight: 600;
	text-align: center;	
}

.content p{
	color: white;
	font-weight: 400;
	margin-top: 49px;
}

.content .pd-top{
	margin: 20px 0 42px;
}

.buy{
	background: transparent;
	color: white;
	margin-right: 30px;
	animation: rotate 3s linear 2s infinite;
	animation-play-state:running;
}
 @keyframes rotate {
 	0%{transform: none;}
 	50%{transform: scale(1.1);}	
 }

.buy:hover{
	background: white;
	color: black;
	opacity: 50%;
	animation: none;
	border: 2px solid black;
}

.gift{
	background: white;
	color: black;
	animation: rotate 3s linear 1s infinite running;
}

 @keyframes rotate {
 	0%{transform: none;}
 	50%{transform: scale(1.1);}	
 }	

.gift:hover{
	background: #ffffff;
	color: black;
	animation: none;	
	opacity: 50%;
	border: 2px solid black;
}

.content ul{
	display: flex ;
	justify-content: center;

}

.content ul a{
	display: inline-block;
	padding: 10px 32px;
	border: 2px solid white;
	font-size: 14px;
	font-weight: 400;
	vertical-align: middle;
	text-decoration: none;
}

.wrapper>a{
	display: block;
	width: 40px;
	margin: 116px auto 26px;
	height: 21px;
	background: url(../gallery/sprites.png) -516px -211px ;
}


/* Header styles end */


/* Main styles starts */


.block-bread{
	background: url(../gallery/bg/paper.jpg) no-repeat;
	background-size: cover;	
	width: 100%;
	text-align: center;
	position: relative;
	padding-bottom: 1px;
}

.block-bread h2{
	font-weight: 700;
	font-size: 32px;
	padding: 50px 0 32px;
}

.block-bread p{
	font-weight: 400;
	font-size: 14px;
	padding-bottom: 16px;	
}

.block-bread>img{
	width: 1083px;
	height: 332px;
	padding: 40px 0 0;
}

p.pseudo{
	position: relative;
}

p.pseudo:before{
	content: '';
	position: absolute;
	bottom: -38px;
	left: 46%;
	width: 120px;
	height: 9px;
	background: url(../gallery/sprites.png) -20px -411px;
}

.block-bread>a{
	width: 40px;
	height: 22px;
	display: block;
	margin: 25px auto 40px;
	background: url(../gallery/sprites.png) -516px -151px;	
}


#assortment{
	height: 678px;
	width: 100%;
	background: white;
	font-size: 14px;
	font-weight: 400;
}

#assortment h2{
	font-size: 32px;
	font-weight: 700;
	margin-top: 56px;
}

.pick{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin: 58px auto 40px;
	width: 790px;
	position: relative;
	padding: 0 58px;
}

#assortment .pick>div{
	width: 160px;
	height: 256px;
	font-size: 14px;
	font-weight: 600;
	box-shadow: 0 5px 10px 1px #eff0f1;
}

#assortment .pick>div h3{
	padding: 0 30px 0;
	font-weight: 700;
}

.fs-10{
	font-size: 10px;
	
}

.open-sans{
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
	font-weight: 600;
}

.pick>div>img,
.pick>div>h3,
.fs-10,
#assortment p:nth-child(4){
	margin-bottom: 16px;
}

#assortment>ul>li>a{
	display: block;
	height: 7px;
	width: 7px;
	background: black;
	border-radius: 5px;
}

#assortment>ul{
	display: flex;
	margin: 0 auto 45px;
	justify-content: center;
}

#assortment ul>li:nth-child(-n+2){
	margin-right: 2px;
}

.buy-coupon{
	display: flex;
	justify-content: center;
	margin: 40px 0 0;
}

.buy-coupon>a{
	padding: 16px 36px;
	text-decoration: none;
}

.buy-coupon>a:first-child{
	background: transparent;
	color: black;
	margin-right: 30px;
	border: 2px solid black;
}

.buy-coupon>a:nth-child(2){
	background: black;
	color: white;
	border: 2px solid black;
}

.buy-coupon>a:first-child:hover{
	background: transparent;
	opacity: 50%;
	border: 2px solid black;
}

.buy-coupon>a:nth-child(2):hover{
	background: black;
	color: white;
	border: 2px solid black;
	opacity: 50%;
}

.bg-arms{
	width: 100%;
	background: url(../gallery/bg/background1.png) no-repeat;
	background-size: cover;
	font-size: 14px;
	font-weight: 400;
	color: white;
	padding: 58px 0 1px;
	position: relative;
}

.bg-arms h2{
	font-size: 30px;
	font-weight: 700;
	text-align: center;
	margin:  0 0 32px ;
}

section.bg-arms p:nth-child(2){
	margin-bottom: 12px;
}

section.bg-arms p:nth-child(3){
	padding-bottom: 50px;
	position: relative;
}

section.bg-arms p:nth-child(3):before{
	content: '';
	position: absolute;
	bottom: 0;
	left: 46%;
	width: 120px;
	height: 10px;
	background: url(../gallery/sprites.png) -120px -319px;

}

.logotypes{
	width: 730px;
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	margin: 40px auto 0;
}

.logotypes img{
	margin-right: 30px;
}

.logotypes img:nth-child(4n-4){
	margin-right: 0;
}

.bg-arms a{
	width: 40px;
	height: 21px;
	display: block;
	margin: 65px auto 54px;
	background: url(../gallery/sprites.png) -516px -211px;
}

#about-bbo{
	padding: 65px 0 60px;
}

#about-bbo h2{
	font-size: 32px;
	font-weight: 700;
	margin: 0 0 45px;
}

.facts{
	width: 1110px;
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	margin: 0 auto;
}

.facts>div{
	padding-top: 80px;
	width: 150px;
	position: relative;
}

.facts>div:before{
	content: '';
	position: absolute;
	top: 0;
	left: 30%;
}

.facts>div:nth-child(1):before{
	width: 60px;
	height: 60px;
	background: url(../gallery/sprites.png) -320px -120px;
}

.facts>div:nth-child(2):before{
	top: 5px;
	width: 55px;
	height: 55px;
	background: url(../gallery/sprites.png) -420px -20px;	
}

.facts>div:nth-child(3):before{
	top: 6px;
	width: 61px;
	height: 51px;
	background: url(../gallery/sprites.png) -20px -320px;	
}

.facts>div:nth-child(4):before{
	top: 20px;
	width: 60px;
	height: 30px;
	background: url(../gallery/sprites.png) -516px -20px;	
}

.facts>div:nth-child(5):before{
	width: 61px;
	height: 57px;
	background: url(../gallery/sprites.png) -320px -222px;	
}

.facts>div:nth-child(6):before{
	width: 61px;
	height: 61px;
	background: url(../gallery/sprites.png) -320px -20px;	
}

.facts>div>h3{
	font-size: 16px;
	font-weight: 700;
	margin-bottom: 10px;
}

.facts>div>p{
	font-size: 14px;
	font-weight: 400;
}

#about-bbo>a{
	display: block;
	margin: 0 auto;
	width: 40px;
	height: 21px;
	margin-top: 58px;
	background: url(../gallery/sprites.png) -516px -151px;
}

#bg-grey{
	background: #f9f7f7;

}

.coupon-bg-grey{
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
	padding: 80px 0;
	font-size: 14px;
	text-align: left;
	margin: 0 auto;
	width: 1140px;

}

.coupon-bg-grey>div>h2{
	font-size: 32px;
	font-weight: 700;
	margin-bottom: 32px;
}


.coupon-bg-grey>div p{
	margin-bottom: 10px;
}

.coupon-bg-grey>div p:nth-child(2){
	margin-bottom: 16px;
}

.coupon-bg-grey>div p:nth-child(4){
	margin-bottom: 28px;
}

.email{
	margin: 42px 0 16px;
	font-weight: 200;
}

.email>input:first-child{
	padding-left: 18px;
	margin-bottom: 12px;
	width: 350px;
	height: 38px;
	display: block;
	border: 1px solid black;
  background: transparent;
  outline: 0;	
}

::placeholder { 
  color: black;
  opacity: 0.9; 
  font-size: 14px;
  font-weight: 200;
  font-family: 'Nunito', sans-serif;
  }

.email input:nth-child(2){
	font-size: 12px;
	width: 18px;
	height: 18px;
	border: 1px solid black;
	margin-right: 14px;
	vertical-align: sub;
	position: relative;
	opacity: 0;
}

label{
	font-size: 12px;
	font-weight: 200;
	position: relative;
	margin-right: 50%;
	color: black;
}

label:before{
	content: '';
	position: absolute;
	top: -3px;
	left: -36px;
	width: 18px;
	height: 18px;
	border: 1px solid black;
}

.email input:nth-child(2):checked+label:before{
	content: "";
	background: radial-gradient(black 5px, transparent 5px);
}

.where{
	text-decoration: none;
	padding: 10px 30px;
	background: transparent;
	color: black;
	border: 1px solid black;
	margin: 16px 30px 16px 0;
	font-size: 14px;
	font-weight: 400;
	font-family:  'Nunito', sans-serif;
}

.where:hover{
	background: transparent;
	color: black;
	opacity: 50%;
}

.download-c{
	text-decoration: none;
	padding: 10px 18px;
	background: black;
	color: white;
	border: 1px solid black;
	margin: 16px 0;
	font-size: 14px;
	font-weight: 400;
	font-family:  'Nunito', sans-serif;
}

.download-c:hover{
	background: black;
	color: white;
	opacity: 50%;
}


/* Main styles ends */


/* Footer styles starts */


footer{
	width: 100%;
  background: url(../gallery/bg/footer.jpg) no-repeat;
  background-size: cover;
  font-size: 14px;
  font-weight: 400;
  color: white;
  padding: 64px 0 1px;
}

footer h3{
	font-size: 16px;
	font-weight: 600;
	margin-bottom: 10px;
}

footer p{
	font-size: 14px;
	font-weight: 400;
}

footer a{
	color: white;
}

.footer{
	margin: 0 auto;
	width: 1140px;
	text-align: left;
	display: flex;
	justify-content: space-between;
	font-family: 'Open Sans', sans-serif;
}

.footer-logo>img{
	margin-bottom: 10px;
}

.footer-logo{
	margin-bottom: 90px;
}

.footer-logo>p{
	font-size: 12px;
	font-weight: 400;
}

.contacts{
	display: flex;
	justify-content: space-between;	
}

.contacts div:nth-child(2){
	margin-left: 60px;
}

.contacts div:nth-child(2) p{
	margin-bottom: 6px;
}

.social{
	display: flex;
	justify-content: space-between;
	margin-top: 5px;
}

.social a{
	width: 27px;
	height: 27px;
}

.social a:hover{
	opacity: 50%;
}

.twit{
	background: url(../gallery/sprites.png) -515px -335px;
}

.insta{
	background: url(../gallery/sprites.png) -421px -114px;
}

.fb{
	background: url(../gallery/sprites.png) -421px -180px;
}


/* Footer styles ends */